<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
<!--    <configSections>
      <sectionGroup name="DBStoredProcedureGroup">
        <section name ="StoredProcedure" type="EntityDBInterface.DBStoredProcedureConfiguration"/>
      </sectionGroup>
    </configSections>-->
<appSettings>
  <add key="ApplicationEnterMessage" 
       value="Hello!!\nWelcome to the Telephone System Application\n"/>
  <add key="ApplicationExitMessage"
       value="Thank You for using the Application!!! We wish to see you back again"/>
  <add key="EmployeeApplicationEnterMessage"
     value="\nWelcome to the Telephone System Employee Console\n"/>
  <add key="EmployeeApplicationExitMessage"
     value="\nGood Bye "/>
  
  <add key="DBConnectionString"
     value ="Data Source=(local);Initial Catalog=AssignmentDatabase;
            Integrated Security=true"/>

  <add key= "GetEmployeeByIDSP" value="[TelephoneSystem].[uspGetEmployeeByID]"/>
</appSettings>

  <!--<DBStoredProcedureGroup>
  <StoredProcedure key="GetEmployeeByIDSP" SPName="[TelephoneSystem].[uspGetEmployeeByID]"
                   SPParameters="@EmployeeID"/>
    

</DBStoredProcedureGroup>
-->
</configuration>